/* ----------homicek------------------ */
/* From Uiverse.io by Nawsome */
.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 10px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
    position: absolute;
}

.wheel,
.spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wheel {
    background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
    z-index: 2;
}

.hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform-origin: 50% 0;
    z-index: 1;
}

.hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
        0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
}

.hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
}

.hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
}

.hamster__nose {
    background: hsl(0, 90%, 75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
}

.hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
        0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
    clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
}

.hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
    transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
}

.hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
    transform: rotate(-25deg);
}

.hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
}

.spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%),
        linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {

    from,
    to {
        transform: rotate(4deg) translate(-0.8em, 1.85em);
    }

    50% {
        transform: rotate(0) translate(-0.8em, 1.85em);
    }
}

@keyframes hamsterHead {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(8deg);
    }
}

@keyframes hamsterEye {

    from,
    90%,
    to {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(0);
    }
}

@keyframes hamsterEar {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(12deg);
    }
}

@keyframes hamsterBody {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-2deg);
    }
}

@keyframes hamsterFRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(50deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-30deg) translateZ(-1px);
    }
}

@keyframes hamsterFLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-30deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(50deg);
    }
}

@keyframes hamsterBRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-60deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(20deg) translateZ(-1px);
    }
}

@keyframes hamsterBLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(20deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-60deg);
    }
}

@keyframes hamsterTail {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(30deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(10deg) translateZ(-1px);
    }
}

@keyframes spoke {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-1turn);
    }
}

/* --------------------------- */

.namelist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.namelist-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.namelist-cardcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: relative;
    transition: all 0.3s ease;
}


.namelist-priority {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: gray;
}

.motiondiv {
    margin: 0.5rem;
    padding: 0rem;
    background-color: transparent;
    border-radius: none;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1);
    cursor: pointer;
}

.motiondiv:hover {
    transform: scale(1.05);
}

.namelist-title {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
    position: absolute;
    top: 0;

}

/* ------------------------------------ */
.checkbox-container {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkbox-container>h2 {
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 600;
}

.checkbox {
    width: 223px;
    height: 20px;
    background-color: #d0d0d0;
    border-radius: 30px;
    position: absolute;
    color: white;
    overflow: hidden;

}

#checkbox_toggle {
    display: none;
}

.checkbox .toggle {
    width: 100px;
    height: 15px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: #0a1929;
    transition: 0.4s;

}

.checkbox .slide {
    width: 230px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.checkbox .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

input.check:checked+.slide .toggle {
    transform: translateX(113px);
}



.requirements-container {
    position: relative;
    overflow-y: hidden;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.requirements-list {
    list-style-type: none;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.requirement-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: box-shadow 0.2s;
    width: 100%;
}

.requirement-item:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.risks-container {
    position: relative;
    overflow-y: hidden;
    height: calc(100vh - 64px);
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.risk-list {
    list-style-type: none;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}

.risk-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: box-shadow 0.2s;
    width: 100%;
}

.riskList-container {
    padding: 10px 0 0 0;

}

.riskList-container>h2 {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
}



.actor-card {
    margin-bottom: 1.5rem;
    padding: 0rem;
    width: 70%;
    border-radius: 5px;
    border-top-left-radius: 1.5rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s ease-in-out;
    border: 1px solid rgb(223, 223, 223);
    overflow: hidden;
    position: relative;

    &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.20);
    }

}

.actor-background {
    background: rgb(163, 163, 163);
    background: radial-gradient(circle, rgb(219, 219, 219) 0%, rgba(249, 249, 249, 1) 100%);
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(157, 157, 157);
}

.actor-icon {
    aspect-ratio: 1/1;
    width: 100px;
    border: 4px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.15);
    top: 5px;
    left: 5px;
    color: black;
}

.actor-description {
    padding: 1.5rem;
}

.actor-description>h2 {
    width: 80%;
    text-align: end;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.actor-description>p {
    color: rgb(60, 60, 60)
}

.uml-title {
    text-transform: uppercase;
    font-weight: 650;
    font-size: 1.4em;
    margin: 20px 0;
}

/* ------------------ */
.toolbar-container,
.info-button {
    /* bottom: 0; */
    right: 20px;
    bottom: 30px;
    z-index: 10000;
    position: absolute;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    background-color: white;
    /* border: 2px solid rgb(180, 180, 180); */
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px rgb(201, 200, 200);
}

.toolbar-container:hover {
    cursor: pointer;
}

.toolbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.who-edits {
    color: gray;
}

.edit-button {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green
}

.chat-button {
    /* bottom: 0; */
    right: 20px;
    bottom: 30px;
    z-index: 99;
    position: absolute;
    /* padding: 0 0 0 10px; */
    display: flex;
    flex-direction: row;
    background-color: white;
    /* border: 2px solid rgb(180, 180, 180); */
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px rgb(201, 200, 200);
}

.minichat-header {
    background-color: rgb(229, 229, 229);
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closebutton {
    height: 30%;
}

.closebutton:hover {
    color: red;
    cursor: pointer;
}

.sendbutton {
    background-color: black;
    color: white;
    border-radius: 4px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------- */
.newItemsLoader {
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.664);
    backdrop-filter: blur(3px);
    position: absolute;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newItemsLoader>p {
    font-size: 2em;
    color: #d0d0d0;
    font-weight: 600;
    margin-top: 15px;
}

.tmp {
    box-shadow: 0px 0px 5px 1px rgb(99, 227, 60);
}